* {
    color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.top {
    text-align: center;
    font-size: 50px;
    color:#242424;
    text-shadow:1px 1px 20px #ffc609;
    animation: bounceIn 2s infinite;
    font-family: 'Yeon Sung', cursive;
}

@keyframes bounceIn {
    0% {
        transform: scaleX(0.6);
    }
    
}

.topTwo{
    text-align: center;
    font-size:35px;
    text-shadow:1px 1px 20px #fff;
}

body {
    background:url("../images/background.jpg");
    background-size: auto;
    font:24px Arial;
}

div {
    display:flex;
    justify-content:center;
    align-items:center;    
}


#wrapper{
    margin:0 auto;

}

#game{
    border:1px solid #ffd5a6;
    box-shadow:1px 1px 20px #fff;
    background-color:rgba(255, 201, 23, 0.425);
    width:500px;
    max-width:100%;
    position: relative;
    top:180px;
    
}

td {
    width:60px;
    height:60px;
    border:1px solid #b44e1f;
    background-color: #faebd7;
    text-align:center;
	cursor:pointer;
}
td:hover{
    background-color: #f3c07d;
    transform: scale(1.1);
}